@media screen and (max-width: 1050px) {
    .media.ubicacion{
      width: 100%;
      margin: 0%
    }  
  }

  .ubicacion{
    margin-left: 7rem;
    margin-bottom: 7rem;
}


.img-mapa{
    margin-top: 5rem;
}